<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/fav.png">
    <title>Bias Buster | Congressional App Challenge</title>
    <!-- bootstrap min css -->
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/plugins/fontawesome-6.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/plugins/unicons.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/plugins/swiper.min.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/vendor/magnific-popup.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/vendor/metismenu.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css')}}">
    <!-- custom css style -->
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>

    <!-- rts header area start -->
    <header class="header-one header--sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-main-wrapper">
                        <a href="index.html" class="logo">
                            Bias <i class="invert">Buster</i>
                        </a>
                        <!-- nav -->
                        <div class="nav-area-main d-xl-block d-lg-block d-md-none d-sm-none d-none mr-5 ml-0">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="links-main" href="/">Home</a>
                                    </li>
                                    <li>
                                        <a class="links-main" href="/">About</a>
                                    </li>
                                    <li>
                                        <a class="links-main" href="/">Chatbot</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- nav end -->

                        <div class="menu-btn d-xl-none d-lg-none d-md-block d-sm-block" id="menu-btn">
                            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect y="14" width="20" height="2" fill="#1F1F25"></rect>
                                <rect y="7" width="20" height="2" fill="#1F1F25"></rect>
                                <rect width="20" height="2" fill="#1F1F25"></rect>
                            </svg>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- rts header area end -->


    <!-- open up banner area start -->
    <div class="rts-banner-area-one bg_image--1 bg_image rts-section-gap">
        <div class="container" style="margin-top: 125px !important;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-main-wrapper">
                        <h1 class="title">
                            Bias <i class="invert" style="-webkit-text-stroke-color: white; -webkit-text-stroke-width: 2px;">Buster:</i>  
                            <br> Find
                            <span
                                class="txt-rotate"
                                data-period="2000"
                                data-rotate='[ "Truthful", "Unbiased", "Real"]'>
                            </span>
                            <br>
                            Content Anywhere.
                        </h1>
                        <p class="disc">
                            Using advanced artifical intelligence and sentimental analysis techinques, Bias Buster identifies all bias within articles or literature, ensuring an unfiltered, realistic medium to convey information for <i class="invert" style="-webkit-text-stroke-color: white;">everyone</i>. 
                        </p>
                        <form class="product" action="/result" method="POST">
                            <input class="fillInput" type="text" name="Link" placeholder="Enter the Link to the Website" required>
                            <button class="rts-btn btn-blur" style="max-width: max-content;" type="submit">Analyze Bias</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-mid-img">
            <p style="margin-bottom: 25px;">Scroll Down for More Info</p>
        </div>
        <div class="usefull-for-ani">
            <div class="single">
                <span>&nbsp;Academic Research?</span>
            </div>
            <div class="single blog">
                <span>&nbsp;Correct Info?</span>
            </div>
            <div class="single copy">
                <span>&nbsp;Unrestricted news?</span>
            </div>
            <div class="single freelancer">
                <span>&nbsp;Unbiased living?</span>
            </div>
        </div>
    </div>
    <!-- open up banner area end -->

    <!-- rts feature area start -->
    <div class="rts-feature-area rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt--50">
                    <div class="title-conter-area">
                        <h2 class="title">
                            How does it <i class="invert" style="-webkit-text-stroke-color: var(--color-heading-1); -webkit-text-stroke-width: 2px;">work?</i> <br>
                        </h2>
                        <p class="disc">
                            Our AI removes biases (or at least informs you of them) to improve your understanding your world. <br><br> It does this in three steps:
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt--50">
                <div class="col-lg-12">
                    <!-- single openup feature area start -->
                    <div class="single-feature-area-start index-feature">
                        <div class="image-area">
                            <img src="assets/images/feature/07.svg" alt="feature_image" loading="lazy">
                        </div>
                        <div class="featue-content-area">
                            <span class="pre">01</span>
                            <h2 class="title">Generate copy in <br>
                                seconds</h2>
                            <p class="disc">
                                Generate many types of content in under 30 seconds by simply inserting a few input fields. Generate blog topic ideas, intros, ad copy, copywriting.
                            </p>
                        </div>
                    </div>
                    <!-- single openup feature area end -->
                    <!-- single openup feature area start -->
                    <div class="single-feature-area-start index-feature bg-red-l">

                        <div class="featue-content-area">
                            <span class="pre">02</span>
                            <h2 class="title">45+ highly-tuned AI <br>
                                tools fingertips</h2>
                            <p class="disc">
                                We have a wide variety of tools available for you to use.
                                From blog shots (full blog posts) and tweets to sales email generators and marketing copy.
                            </p>
                        </div>
                        <div class="image-area">
                            <img src="assets/images/feature/08.svg" alt="feature_image" loading="lazy">
                        </div>
                    </div>
                    <!-- single openup feature area end -->
                    <!-- single openup feature area start -->
                    <div class="single-feature-area-start index-feature bg-blue-l">
                        <div class="image-area">
                            <img src="assets/images/feature/09.svg" alt="feature_image" loading="lazy">
                        </div>
                        <div class="featue-content-area">
                            <span class="pre">03</span>
                            <h2 class="title">Enter your <br>
                                copywriting project</h2>
                            <p class="disc">
                                Choose from emails, social posts, long-form blog posts, and more! Then, just copy and paste the work into your CMS for publishing.
                            </p>
                        </div>
                    </div>
                    <!-- single openup feature area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- rts feature area end -->


 



    <div id="anywhere-home" class="">
    </div>

  

    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/vendor/metismenu.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/vendor/imagesloaded.pkgd.min.js')}}" defer> </script>
    <script src="{{ url_for('static', filename='js/vendor/isotope.pkdg.min.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/vendor/magnific-popup.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/plugins/bootstrap.min.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/plugins/swiper.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/plugins/contact.form.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/main.js')}}" defer></script>

</body>

</html>