<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiasBuster</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/index.css')}}">--> 
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="navbar">
        <p>Home</p>
        <p>About</p>
        <p>Contact</p>
    </div>

    <div class="front-container">
        <div class="home-text">
            <p class="title">BiasBuster</p>
            <p class="motto">Find Truthful Content Anywhere!</p>
            <p class="desc">Using advanced artificial intelligence and sentimental analysis techniques, BiasBuster identifies all bias within articles or literature, ensuring an unfiltered, realistic medium to convey information to all.</p>
        </div>
        <img src="home-icon.png" alt="">
    </div>
    
    <div class="input-container">
        <input class="link-input" type="text" placeholder="Paste Link..." required>
        <button class="submit-btn" type="submit">Analyze Bias</button>
    </div>

    <div class="bot-prev">
        <p>Need Sources?</p>
        <img src="chat-logo.png" alt="Chat with BiasBuster!">
    </div>
    
</html>